.pending {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.pending:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #5E5E5E;
  border-color: #5E5E5E transparent #5E5E5E transparent;
  animation: pending 1.2s linear infinite;
}

@keyframes pending {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
